<div class="banner-show" style="background-image: url('<%= @list.photo ? (cl_image_path @list.photo.key) : ("default_list_image.jpg") %>'>
  <h1><%= @list.name %></h1>
</div>
<div class="container-show">
  <div class="d-flex justify-content-end">
    <div class="newList">
      <a class="btn btn-success p-2" data-bs-toggle="collapse" href="#collapseExample" role="button"
      aria-expanded="false" aria-controls="collapseExample">
        Add a movie
      </a>
    </div>
  </div>
  <div class="collapse collapse-show" id="collapseExample">
    <div class="card card-body">
      <div class="card-title"><strong>Add Movie  to <%= @list.name %></strong></div>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.button :submit, :class =>"btn btn-success" %>
      <% end %>
    </div>
  </div>
  <div class="d-flex">
    <% @list.movies.each do |movie| %>
      <div class="card m-2 card-show" style="width: 18rem;">
        <img class="card-img-top" src="<%= movie.poster_url %>" alt="Movie Image">
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><%= movie.overview %></p>
        </div>
        <div class="d-flex justify-content-between p-3">
          <div class="flex-item">
            <p class="card-text">⭐ <%= movie.rating %></p>
          </div>
          <div class="flex-item">
            <%= link_to "Delete", bookmark_path(movie.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{movie.title}?"} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
